<body>
　<% @books.each do |book| %>
   <p>
    <strong>Title:</strong>
    <span><%= link_to book.title, book_path(book.id) %></span>
   </p>
   
   <p>
    <strong>Body:</strong>
    <span><%= link_to book.body, book_path(book.id) %></span>
   </p>
   <%= link_to "Edit", edit_book_path(@book.id) %> | <%= link_to "Back", "/books/new" %>
  <% end %>
</body>